<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="stylesheet" type="text/css" href="{{ asset('css/semantic.min.css') }}">

        {% block stylesheets %}{% endblock %}
    </head>
    <body>
      <div class="ui secondary  menu">
        <a class="active item">
          Home
        </a>
        <a class="item">
          Etudiants
        </a>

        </div>
        <div class="ui container">
          {% block body %}{% endblock %}
          {% block javascripts %}{% endblock %}
        </div>

        <script src="{{ asset('js/jquery.min.js') }}"></script>
        <script src="{{ asset('js/semantic.min.js') }}"></script>
    </body>
</html>
