{% extends 'base.html.twig' %}

{% block body %}
    <div class="ui link cards">
      {% for etudiant in etudiants %}
  <div class="card">
    <div class="image">
      {% set photo = 'img/etudiant/'~ etudiant.photo ~'.jpg' %}
      <img src="{{ asset(photo) }}">
    </div>
    <div class="content">
      <div class="header"><a href="{{ path('etudiant_show', {'id': etudiant.id}) }}">{{ etudiant.prenom }} {{ etudiant.nom }}</a></div>
    </div>
  </div>
{% endfor %}
</div>

{% endblock %}
